h1{
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}
li{
    background-color: blue;
}
.ex{
    background-color: rebeccapurple;
}
p{
    font-weight: 600;
    font-size: 2em;

}
body{
    font-size: 16px;
}
#ama{
    background-color: yellow;
}
#ver{
    background-color: red;
}
#mar{
    background-color: brown;
}