/*Centraliza h1 e p */
h1, p {
    text-align: center;
}
/*muda cor de fundo quando o cursor passa por cima*/
li:hover {
    background-color: aqua;
}
/*muda cor da fonte quando é clicado*/
li:active {
    font-family: sans-serif;
    color: aliceblue;
}
/*retira os estilos da lista*/
li{
    list-style: none;
}