/*Adiciona borda ao passar com o cursor por cima*/
div:hover{
    border: solid;
}
/*Adiciona uma cor para cada div*/
div:nth-of-type(1){
    background-color: red;
}
div:nth-of-type(2){
    background-color: blue;
}
div:nth-of-type(3){
    background-color: yellow;
}
div:nth-of-type(4){
    background-color: green;
}
div:nth-of-type(5){
    background-color: orange;
}
/*Estilizando as tags h3*/
div:nth-of-type(1) > h3{
    color: aqua;
}
div:nth-of-type(2) > h3{
    color: rebeccapurple;
}
div:nth-of-type(3) > h3{
    color: aliceblue;
}
div:nth-of-type(4) > h3{
    color: black;
}
div:nth-of-type(5) > h3{
    color: azure;
}
/*Tags ímpares em Itálico*/
div:nth-of-type(2n+1) > h3{
    font-style: italic;
}